amqp==5.3.1
asgiref==3.8.1
async-timeout==5.0.1
bcrypt==4.2.0
billiard==4.2.1
celery==5.4.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
cron-descriptor==1.4.5
Django==4.2
django-celery-beat==2.7.0
django-celery-results==2.5.1
django-cors-headers
django-extensions==3.2.3
django-timezone-field==7.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.28.0
drf-spectacular-sidecar==2025.5.1
Faker==33.0.0
gunicorn==23.0.0
idna==3.10
kombu==5.4.2
numpy
opencv-python==4.10.0.84
packaging==24.2
pandas
pillow
prompt_toolkit==3.0.48
psycopg2-binary==2.9.10
PyJWT==2.9.0
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2024.2
redis==6.0.0
requests==2.32.3
six==1.16.0
sqlparse==0.5.2
typing_extensions==4.12.2
tzdata==2024.2
urllib3
vine==5.1.0
wcwidth==0.2.13

django-prometheus==2.4.1